<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92317547965-6c2ublpi2p1klb888snr0qngufontp04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92317547965-6c2ublpi2p1klb888snr0qngufontp04</string>
	<key>API_KEY</key>
	<string>AIzaSyCnnvsXbLW2DuXzQPpmT5pGY9uwP9btiWk</string>
	<key>GCM_SENDER_ID</key>
	<string>92317547965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-c5836</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-c5836.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92317547965:ios:8430325e88838cdf8f66d4</string>
</dict>
</plist>